# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]eploy/
[Dd]ebug/
[Dd]ebug-*.*.log
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

# Windows Installer files
*.cab
*.msi
*.msm

# User-specific files (Windows)
Thumbs.db
Desktop.ini

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt
